# Exploratory data analysis

## 1. Dataset description

## 2. Load the dataset

In [103]:
library(httr)
library(jsonlite)
library(tidyverse)

Warning message:
"package 'httr' was built under R version 3.6.3"

Attaching package: 'jsonlite'


The following object is masked from 'package:purrr':

    flatten

In [34]:
url <- "https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series"
covid19_confirmed <- read_csv(paste(url, "/time_series_covid19_confirmed_global.csv?raw=true", sep = ""))
covid19_death <- read_csv(paste(url, "/time_series_covid19_deaths_global.csv?raw=true", sep = ""))

Parsed with column specification:
cols(
  .default = col_double(),
  `Province/State` = col_character(),
  `Country/Region` = col_character()
)

See spec(...) for full column specifications.

Parsed with column specification:
cols(
  .default = col_double(),
  `Province/State` = col_character(),
  `Country/Region` = col_character()
)

See spec(...) for full column specifications.

In [111]:
head(covid19_confirmed)

  Province/State Country/Region      Lat      Long     1/22/20 1/23/20 1/24/20
1 NA             Afghanistan          33.0000  65.0000 0       0       0
2 NA             Albania              41.1533  20.1683 0       0       0
3 NA             Algeria              28.0339   1.6596 0       0       0
4 NA             Andorra              42.5063   1.5218 0       0       0
5 NA             Angola              -11.2027  17.8739 0       0       0
6 NA             Antigua and Barbuda  17.0608 -61.7964 0       0       0
  1/25/20 1/26/20 1/27/20 ... 4/15/20 4/16/20 4/17/20 4/18/20 4/19/20 4/20/20
1 0       0       0       ...  784     840     906     933     996    1026
2 0       0       0       ...  494     518     539     548     562     584
3 0       0       0       ... 2160    2268    2418    2534    2629    2718
4 0       0       0       ...  673     673     696     704     713     717
5 0       0       0       ...   19      19      19      24      24      24
6 0       0       0       ...   23      23      23      23      23      23
  4/21/20 4/22/20 4/23/20 4/24/20
1 1092    1176    1279    1351
2  609     634     663     678
3 2811    2910    3007    3127
4  717     723     723     731
5   24      25      25      25
6   23      24      24      24

In [137]:
country_data <- read_csv("../data/clean_data/country_data.csv")

Parsed with column specification:
cols(
  country = col_character(),
  age_1564 = col_double(),
  age_64up = col_double(),
  age_0014 = col_double(),
  smok = col_double(),
  air_polution = col_double(),
  doctor = col_double(),
  nurse_midwivies = col_double()
)

In [138]:
head(country_data)

  country        age_1564 age_64up  age_0014 smok air_polution doctor
1 Afghanistan    54.32490  2.584927 43.09018   NA 56.91081     0.2907
2 Albania        68.58239 13.744736 17.67287 28.7 18.20060         NA
3 Algeria        63.48882  6.362497 30.14868 15.6 38.88401         NA
4 American Samoa       NA        NA       NA   NA 12.47382         NA
5 Andorra              NA        NA       NA 33.5 10.30762     3.3333
6 Angola         50.97470  2.216374 46.80892   NA 32.38850         NA
  nurse_midwivies
1     NA
2     NA
3     NA
4     NA
5 4.0128
6     NA

## 3. Explore the dataset

In [56]:
dim(covid19_confirmed)

[1] 264  98

In [35]:
colnames(covid19_confirmed)[length(covid19_confirmed)]

[1] "4/24/20"

In [57]:
dim(covid19_death)

[1] 264  98

In [58]:
colnames(covid19_death)[length(covid19_death)]

[1] "4/24/20"

In [60]:
all(colnames(covid19_confirmed) == colnames(covid19_death))

[1] TRUE

In [61]:
all(covid19_confirmed[2] == covid19_death[2])

[1] TRUE

In [101]:
all(!is.na(covid19_confirmed[length(covid19_confirmed)]))

[1] TRUE

In [102]:
all(!is.na(covid19_death[length(covid19_death)]))

[1] TRUE

In [142]:
dim(country_data)

[1] 264   8

## 4. Initial thoughts

## 5. Wrangling

In [87]:
confirmed <- covid19_confirmed[c(2, length(covid19_confirmed))]
colnames(confirmed) = c("country", "n")

confirmed <- confirmed %>%
    group_by(country) %>%
    summarize(confirmed = sum(n))

In [88]:
death <- covid19_death[c(2, length(covid19_death))]
colnames(death) = c("country", "n")

death <- death %>%
    group_by(country) %>%
    summarize(death = sum(n))

In [96]:
covid19 <- merge(confirmed, death, by = "country") %>%
    mutate(rate = death / confirmed)
head(covid19)

  country             confirmed death rate
1 Afghanistan         1351       43   0.03182828
2 Albania              678       27   0.03982301
3 Algeria             3127      415   0.13271506
4 Andorra              731       40   0.05471956
5 Angola                25        2   0.08000000
6 Antigua and Barbuda   24        3   0.12500000

In [132]:
dim(covid19)

[1] 185   4

In [95]:
covid19 %>%
    filter(rate >= 1)

     country confirmed death rate

In [145]:
covid19 %>%
    filter(!country %in% country_data$country)

   country                          confirmed death rate
1  Bahamas                              73       11 0.150684932
2  Brunei                              138        1 0.007246377
3  Burma                               144        5 0.034722222
4  Congo (Brazzaville)                 200        6 0.030000000
5  Congo (Kinshasa)                    394       25 0.063451777
6  Czechia                            7273      214 0.029423897
7  Diamond Princess                    712       13 0.018258427
8  Egypt                              4092      294 0.071847507
9  Gambia                               10        1 0.100000000
10 Holy See                              9        0 0.000000000
11 Iran                              88194     5574 0.063201578
12 Korea, South                      10718      240 0.022392237
13 Kyrgyzstan                          665        8 0.012030075
14 Laos                                 19        0 0.000000000
15 MS Zaandam                            9        2 0.222222222
16 Russia                            68622      615 0.008962140
17 Saint Kitts and Nevis                15        0 0.000000000
18 Saint Lucia                          15        0 0.000000000
19 Saint Vincent and the Grenadines     14        0 0.000000000
20 Slovakia                           1360       17 0.012500000
21 Syria                                42        3 0.071428571
22 Taiwan*                             428        6 0.014018692
23 US                               905358    51949 0.057379512
24 Venezuela                           318       10 0.031446541
25 Western Sahara                        6        0 0.000000000
26 Yemen                                 1        0 0.000000000

In [143]:
merge(country_data, covid19, by = "country")

    country                age_1564 age_64up  age_0014 smok air_polution doctor
1   Afghanistan            54.32490  2.584927 43.09018   NA 56.910808    0.2907
2   Albania                68.58239 13.744736 17.67287 28.7 18.200603        NA
3   Algeria                63.48882  6.362497 30.14868 15.6 38.884011        NA
4   Andorra                      NA        NA       NA 33.5 10.307621    3.3333
5   Angola                 50.97470  2.216374 46.80892   NA 32.388505        NA
6   Antigua and Barbuda    69.11908  8.799826 22.08109   NA 18.622343        NA
7   Argentina              64.12128 11.117789 24.76093 21.8 13.311834        NA
8   Armenia                68.11276 11.253818 20.63342 24.1 32.528118        NA
9   Australia              65.15291 15.656475 19.19062 14.7  8.550324    3.5213
10  Austria                66.70049 19.001566 14.29795 29.6 12.477967    5.0701
11  Azerbaijan             70.43525  6.195183 23.36957 20.8 19.928664        NA
12  Bahrain                78.31936  2.426334 19.25431 26.4 70.816208    0.9257
13  Bangladesh             67.13559  5.158391 27.70602 23.0 60.845785    0.4709
14  Barbados               66.85436 15.802694 17.34295  7.8 23.080176        NA
15  Belarus                68.28891 14.845148 16.86594 26.7 18.765580        NA
16  Belgium                64.15583 18.788744 17.05542 28.2 12.886518    3.0138
17  Belize                 64.98378  4.736459 30.27977   NA 23.011892        NA
18  Benin                  54.29871  3.253605 42.44768  6.4 38.999959        NA
19  Bhutan                 68.22563  6.003012 25.77135   NA 37.926503    0.3188
20  Bolivia                61.73450  7.191947 31.07355   NA 21.568987        NA
21  Bosnia and Herzegovina 68.76346 16.470317 14.76622 38.9 27.747669        NA
22  Botswana               61.66318  4.223874 34.11295 20.0 23.094386        NA
23  Brazil                 69.74309  8.922838 21.33407 13.9 12.706629        NA
24  Bulgaria               64.38262 21.021914 14.59547 37.0 19.149132        NA
25  Burkina Faso           52.64494  2.406981 44.94808 12.5 42.935593        NA
26  Burundi                52.25138  2.246940 45.50168   NA 38.896268        NA
27  Cabo Verde             66.61291  4.609327 28.77777  9.1 34.778700    0.7694
28  Cambodia               64.22991  4.568680 31.20141 17.2 25.614292        NA
29  Cameroon               54.63954  2.728877 42.63158   NA 72.793096        NA
30  Canada                 66.89774 17.232007 15.87025 14.3  6.428383    2.5388
... ...                    ...      ...       ...      ...  ...          ...
130 Seychelles             68.77008  7.594546 23.63537 21.5 20.178649        NA
131 Sierra Leone           55.97380  2.966556 41.05964 24.8 21.625947        NA
132 Singapore              76.25834 11.463380 12.27828 16.5 19.078256        NA
133 Slovenia               65.37135 19.606880 15.02178 22.5 16.023980    2.8099
134 Somalia                50.55010  2.873311 46.57658   NA 32.034584        NA
135 South Africa           65.60251  5.318005 29.07949 20.3 25.102205    0.7827
136 South Sudan            54.78140  3.398483 41.82012   NA 45.577506        NA
137 Spain                  65.95449 19.378508 14.66700 29.3  9.697928    3.8493
138 Sri Lanka              65.32978 10.473220 24.19700 13.0 11.099617    0.9746
139 Sudan                  55.91005  3.581161 40.50879   NA 55.370834    0.4100
140 Suriname               65.92337  6.906370 27.17026 25.0 24.780011        NA
141 Sweden                 62.32269 20.095525 17.58179 18.8  6.184665    4.2861
142 Switzerland            66.46583 18.623217 14.91095 25.7 10.303100    4.1782
143 Tanzania               53.30046  2.601299 44.09824 14.8 29.076641        NA
144 Thailand               71.01212 11.900893 17.08699 19.9 26.256727    0.4655
145 Timor-Leste            57.90284  4.316492 37.78066 42.6 19.257209    0.6696
146 Togo                   55.79601  2.869468 41.33452  7.4 35.731336    0.0487
147 Trinidad and Tobago    68.84547 10.734954 20.41957   NA 24.108568    2.6697
148 Tunisia                67.51420  8.315679 24.17012 32.7 37.655994    1.2999
149 Turkey                 66.86738  8.483213 24.64941 27.2 44.311526        NA
150 Uganda                 51.12849  1.940987 46.93053 10.0 50.494321    0.0908
151 Ukraine                67.75290 16.434686 15.81241 28.9 20.309776        NA
152 United Arab Emirates   84.31149  1.085001 14.60351 28.9 40.917510    2.2373
153 United Kingdom         63.92605 18.395866 17.67808 22.3 10.472690    2.7780
154 Uruguay                64.57750 14.814520 20.60798 16.8  9.274883        NA
155 Uzbekistan             66.89480  4.419138 28.68606 12.6 28.455901        NA
156 Vietnam                69.55234  7.274978 23.17268 22.8 29.626728    0.7887
157 West Bank and Gaza     57.91933  3.133306 38.94736   NA 33.225630        NA
158 Zambia                 52.96418  2.099678 44.93614 13.8 27.438035        NA
159 Zimbabwe               54.65941  2.939524 42.40107 15.8 22.251671        NA
    nurse_midwivies confirmed death rate
1        NA          1351       43  0.031828275
2        NA           678       27  0.039823009
3        NA          3127      415  0.132715062
4    4.0128           731       40  0.054719562
5        NA            25        2  0.080000000
6        NA            24        3  0.125000000
7        NA          3607      176  0.048794012
8        NA          1596       27  0.016917293
9   12.4667          6677       79  0.011831661
10   8.1758         15071      530  0.035166877
11       NA          1592       21  0.013190955
12   2.4944          2518        8  0.003177125
13   0.2665          4689      131  0.027937727
14       NA            77        6  0.077922078
15       NA          8773       63  0.007181124
16  10.8193         44293     6679  0.150791321
17       NA            18        2  0.111111111
18       NA            54        1  0.018518519
19   1.3589             7        0  0.000000000
20       NA           807       44  0.054522924
21       NA          1421       55  0.038705137
22       NA            22        1  0.045454545
23       NA         54043     3704  0.068538016
24       NA          1234       54  0.043760130
25   0.2400           629       41  0.065182830
26       NA            11        1  0.090909091
27   1.2272            88        1  0.011363636
28       NA           122        0  0.000000000
29       NA          1430       43  0.030069930
30   9.8398         44054     2384  0.054115404
... ...             ...       ...   ...
130      NA             11        0 0.0000000000
131      NA             82        2 0.0243902439
132      NA          12075       12 0.0009937888
133  8.8090           1373       80 0.0582665696
134      NA            328       16 0.0487804878
135  5.0391           4220       79 0.0187203791
136      NA              5        0 0.0000000000
137  5.2919         219764    22524 0.1024917639
138  2.4870            420        7 0.0166666667
139  0.8300            174       16 0.0919540230
140      NA             10        1 0.1000000000
141 11.8503          17567     2152 0.1225024193
142 16.8152          28677     1589 0.0554102591
143      NA            299       10 0.0334448161
144  2.3702           2907       51 0.0175438596
145  1.4287             24        0 0.0000000000
146  0.2980             90        6 0.0666666667
147  3.5093            115        8 0.0695652174
148  2.6478            922       38 0.0412147505
149  2.6304         104912     2600 0.0247826750
150  0.6303             75        0 0.0000000000
151      NA           8125      201 0.0247384615
152  5.0419           9281       64 0.0068958086
153  8.8271         144640    19567 0.1352806969
154      NA            563       12 0.0213143872
155      NA           1804        8 0.0044345898
156  1.4092            270        0 0.0000000000
157      NA            484        4 0.0082644628
158      NA             84        3 0.0357142857
159      NA             29        4 0.1379310345

  "Country/Region" n
1 Country/Region   4/24/20

## 6. Research questions

## 7. Data Analysis & Visualizations

## 8. Summary and conclusions