# Exploratory data analysis

## 1. Dataset description

## 2. Load the dataset

In [1]:
library(testthat)
library(MASS)
library(tidyverse)

Warning message:
"package 'testthat' was built under R version 3.6.2"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.2.1     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter()  masks stats::filter()
x purrr::is_null() masks testthat::is_null()
x dplyr::lag()     masks stats::lag()
x dplyr::matches() masks tidyr::matches(), testthat::matches()
x dplyr::select()  masks MASS::select()

In [2]:
url <- "https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series"
covid19_confirmed <- read_csv(paste(url, "/time_series_covid19_confirmed_global.csv?raw=true", sep = ""))
covid19_death <- read_csv(paste(url, "/time_series_covid19_deaths_global.csv?raw=true", sep = ""))

Parsed with column specification:
cols(
  .default = col_double(),
  `Province/State` = col_character(),
  `Country/Region` = col_character()
)

See spec(...) for full column specifications.

Parsed with column specification:
cols(
  .default = col_double(),
  `Province/State` = col_character(),
  `Country/Region` = col_character()
)

See spec(...) for full column specifications.

In [3]:
head(covid19_confirmed)

  Province/State Country/Region      Lat      Long     1/22/20 1/23/20 1/24/20
1 NA             Afghanistan          33.0000  65.0000 0       0       0
2 NA             Albania              41.1533  20.1683 0       0       0
3 NA             Algeria              28.0339   1.6596 0       0       0
4 NA             Andorra              42.5063   1.5218 0       0       0
5 NA             Angola              -11.2027  17.8739 0       0       0
6 NA             Antigua and Barbuda  17.0608 -61.7964 0       0       0
  1/25/20 1/26/20 1/27/20 ... 4/16/20 4/17/20 4/18/20 4/19/20 4/20/20 4/21/20
1 0       0       0       ...  840     906     933     996    1026    1092
2 0       0       0       ...  518     539     548     562     584     609
3 0       0       0       ... 2268    2418    2534    2629    2718    2811
4 0       0       0       ...  673     696     704     713     717     717
5 0       0       0       ...   19      19      24      24      24      24
6 0       0       0       ...   23      23      23      23      23      23
  4/22/20 4/23/20 4/24/20 4/25/20
1 1176    1279    1351    1463
2  634     663     678     712
3 2910    3007    3127    3256
4  723     723     731     738
5   25      25      25      25
6   24      24      24      24

In [4]:
country_data <- read_csv("../data/clean_data/country_data.csv")

Parsed with column specification:
cols(
  country = col_character(),
  age_1564 = col_double(),
  age_64up = col_double(),
  age_0014 = col_double(),
  smok = col_double(),
  air_polution = col_double(),
  doctor = col_double(),
  nurse_midwivies = col_double()
)

In [5]:
head(country_data)

  country        age_1564 age_64up  age_0014 smok air_polution doctor
1 Afghanistan    54.32490  2.584927 43.09018   NA 56.91081     0.2907
2 Albania        68.58239 13.744736 17.67287 28.7 18.20060         NA
3 Algeria        63.48882  6.362497 30.14868 15.6 38.88401         NA
4 American Samoa       NA        NA       NA   NA 12.47382         NA
5 Andorra              NA        NA       NA 33.5 10.30762     3.3333
6 Angola         50.97470  2.216374 46.80892   NA 32.38850         NA
  nurse_midwivies
1     NA
2     NA
3     NA
4     NA
5 4.0128
6     NA

## 3. Explore the dataset

In [6]:
dim(covid19_confirmed)

[1] 264  99

In [7]:
colnames(covid19_confirmed)[length(covid19_confirmed)]

[1] "4/25/20"

In [8]:
dim(covid19_death)

[1] 264  99

In [9]:
colnames(covid19_death)[length(covid19_death)]

[1] "4/25/20"

In [10]:
test_that("Column names of covid19_confirmed and covid19_death should be the same.",
          {expect_true(all(colnames(covid19_confirmed) == colnames(covid19_death)))
          })

In [11]:
test_that("The country column of covid19_confirmed and covid19_death should be the same.",
          {expect_true(all(covid19_confirmed[2] == covid19_death[2]))
          })

In [12]:
test_that("The last column of covid19_confirmed should not have missing values.",
          {expect_true(all(!is.na(covid19_confirmed[length(covid19_confirmed)])))
          })

In [13]:
test_that("The last column of covid19_death should not have missing values.",
          {expect_true(all(!is.na(covid19_death[length(covid19_death)])))
          })

In [14]:
dim(country_data)

[1] 264   8

## 4. Initial thoughts

## 5. Wrangling

In [15]:
confirmed <- covid19_confirmed[c(2, length(covid19_confirmed))]
colnames(confirmed) = c("country", "n")

confirmed <- confirmed %>%
    group_by(country) %>%
    summarize(confirmed = sum(n))

In [16]:
death <- covid19_death[c(2, length(covid19_death))]
colnames(death) = c("country", "n")

death <- death %>%
    group_by(country) %>%
    summarize(death = sum(n))

In [17]:
covid19 <- merge(confirmed, death, by = "country") %>%
    mutate(rate = death / confirmed)
head(covid19)

  country             confirmed death rate
1 Afghanistan         1463       47   0.03212577
2 Albania              712       27   0.03792135
3 Algeria             3256      419   0.12868550
4 Andorra              738       40   0.05420054
5 Angola                25        2   0.08000000
6 Antigua and Barbuda   24        3   0.12500000

In [18]:
dim(covid19)

[1] 185   4

In [19]:
covid19 %>%
    filter(rate >= 1)

     country confirmed death rate

In [20]:
covid19 %>%
    filter(!country %in% country_data$country)

   country                          confirmed death rate
1  Bahamas                              78       11 0.141025641
2  Brunei                              138        1 0.007246377
3  Burma                               146        5 0.034246575
4  Congo (Brazzaville)                 200        6 0.030000000
5  Congo (Kinshasa)                    416       28 0.067307692
6  Czechia                            7352      218 0.029651795
7  Diamond Princess                    712       13 0.018258427
8  Egypt                              4319      307 0.071081269
9  Gambia                               10        1 0.100000000
10 Holy See                              9        0 0.000000000
11 Iran                              89328     5650 0.063250045
12 Korea, South                      10728      242 0.022557793
13 Kyrgyzstan                          665        8 0.012030075
14 Laos                                 19        0 0.000000000
15 MS Zaandam                            9        2 0.222222222
16 Russia                            74588      681 0.009130155
17 Saint Kitts and Nevis                15        0 0.000000000
18 Saint Lucia                          15        0 0.000000000
19 Saint Vincent and the Grenadines     14        0 0.000000000
20 Slovakia                           1373       17 0.012381646
21 Syria                                42        3 0.071428571
22 Taiwan*                             429        6 0.013986014
23 US                               938154    53755 0.057298695
24 Venezuela                           323       10 0.030959752
25 Western Sahara                        6        0 0.000000000
26 Yemen                                 1        0 0.000000000

In [21]:
country_data <- country_data %>%
    mutate(country = case_when(country == 'Bahamas, The' ~ 'Bahamas',
                               country == 'Brunei Darussalam' ~ 'Brunei',
                               country == 'Egypt, Arab Rep.' ~ 'Egypt',
                               country == 'Gambia, The' ~ 'Gambia',
                               country == 'Iran, Islamic Rep.' ~ 'Iran',
                               country == 'Korea, Dem. People’s Rep.' ~ 'Korea, South',
                               country == 'Czech Republic' ~ 'Czechia',
                               country == 'Lao PDR' ~ 'Laos',
                               country == 'Russian Federation' ~ 'Russia',
                               country == 'St. Lucia' ~ 'Saint Lucia',
                               country == 'St. Vincent and the Grenadines' ~ 'Saint Vincent and the Grenadines',
                               country == 'Slovak Republic' ~ 'Slovakia',
                               country == 'Syrian Arab Republic' ~ 'Syria',
                               country == 'Venezuela, RB' ~ 'Venezuela',
                               country == 'Sub-Saharan Africa' ~ 'Western Sahara',
                               country == 'Yemen, Rep.' ~ 'Yemen',
                               TRUE ~ country))

In [22]:
covid19 <- covid19 %>%
    mutate(country = case_when(country == 'Burma' ~ 'Myanmar',
                               country == 'Congo (Brazzaville)' ~ 'Congo, Rep.',
                               country == 'Congo (Kinshasa)' ~ 'Congo, Dem. Rep.',
                               country == 'Kyrgyzstan' ~ 'Kyrgyz Republic',
                               country == 'Kyrgyzstan' ~ 'Kyrgyz Republic',
                               country == 'US' ~ 'United States',
                               TRUE ~ country))

In [23]:
covid19 %>%
    filter(!country %in% country_data$country)

  country               confirmed death rate
1 Diamond Princess      712       13    0.01825843
2 Holy See                9        0    0.00000000
3 MS Zaandam              9        2    0.22222222
4 Saint Kitts and Nevis  15        0    0.00000000
5 Taiwan*               429        6    0.01398601

In [24]:
data <- merge(country_data, covid19, by = "country")

In [25]:
head(data)

  country             age_1564 age_64up  age_0014 smok air_polution doctor
1 Afghanistan         54.32490  2.584927 43.09018   NA 56.91081     0.2907
2 Albania             68.58239 13.744736 17.67287 28.7 18.20060         NA
3 Algeria             63.48882  6.362497 30.14868 15.6 38.88401         NA
4 Andorra                   NA        NA       NA 33.5 10.30762     3.3333
5 Angola              50.97470  2.216374 46.80892   NA 32.38850         NA
6 Antigua and Barbuda 69.11908  8.799826 22.08109   NA 18.62234         NA
  nurse_midwivies confirmed death rate
1     NA          1463       47   0.03212577
2     NA           712       27   0.03792135
3     NA          3256      419   0.12868550
4 4.0128           738       40   0.05420054
5     NA            25        2   0.08000000
6     NA            24        3   0.12500000

In [33]:
drop_na(data)

    country              age_1564 age_64up  age_0014 smok     air_polution
9   Australia            65.15291 15.656475 19.19062 14.7      8.550324
10  Austria              66.70049 19.001566 14.29795 29.6     12.477967
13  Bahrain              78.31936  2.426334 19.25431 26.4     70.816208
14  Bangladesh           67.13559  5.158391 27.70602 23.0     60.845785
17  Belgium              64.15583 18.788744 17.05542 28.2     12.886518
25  Brunei               72.10039  4.873148 23.02646 16.9      5.903065
29  Cabo Verde           66.61291  4.609327 28.77777  9.1     34.778700
32  Canada               66.89774 17.232007 15.87025 14.3      6.428383
36  China                71.20211 10.920884 17.87700 25.6     52.664596
37  Colombia             68.44406  8.478047 23.07790  9.0     16.527210
46  Denmark              63.72878 19.812953 16.45826 19.1     10.029653
50  Ecuador              64.81412  7.157290 28.02859  7.1     14.886101
51  Egypt                60.97150  5.229779 33.79872 25.2     86.999452
55  Estonia              64.01657 19.626357 16.35707 31.3      6.732124
58  Fiji                 65.03770  5.449680 29.51262 22.6     10.840160
60  France               62.00891 20.034625 17.95646 32.7     11.814964
62  Gambia               53.14127  2.589981 44.26875 15.5     33.982639
63  Georgia              65.33927 14.865491 19.79524 28.8     22.196055
64  Germany              64.91701 21.461962 13.62103 30.6     12.028767
74  Hungary              66.43028 19.157725 14.41199 30.6     15.926048
75  Iceland              65.37259 14.795093 19.83232 14.7      6.481147
77  Indonesia            67.59164  5.857166 26.55120 39.4     16.502653
78  Iran                 69.33887  6.184574 24.47656 11.0     38.978760
80  Ireland              64.72778 13.865802 21.40642 24.3      8.208577
81  Israel               60.09777 11.976986 27.92525 25.2     21.381102
82  Italy                63.91920 22.751680 13.32912 23.7     16.750712
83  Jamaica              67.45326  8.796643 23.75010 16.8     13.404151
90  Kuwait               75.91064  2.550472 21.53889 22.5     60.745160
93  Latvia               63.96060 20.043620 15.99578 37.0     13.426458
94  Lebanon              66.90176  7.002368 26.09587 33.8     30.621111
... ...                  ...      ...       ...      ...      ...
107 Mauritius            70.73213 11.474173 17.79369 21.60000 14.457827
108 Mexico               66.21947  7.223685 26.55685 14.00000 20.921116
109 Moldova              72.67035 11.469556 15.86009 24.20000 16.251033
112 Montenegro           66.81554 14.974937 18.20952 45.90000 20.781814
118 Netherlands          64.69565 19.196193 16.10816 25.80000 12.034408
119 New Zealand          64.69414 15.652425 19.65343 16.00000  5.956001
124 Norway               65.40174 17.049222 17.54904 20.20000  6.956520
125 Oman                 75.36071  2.392787 22.24651 11.10000 41.115238
126 Pakistan             60.41741  4.312774 35.26981 20.10000 58.282419
132 Poland               67.42991 17.517817 15.05228 28.00000 20.877822
136 Russia               67.41121 14.674708 17.91408 39.30000 16.160224
137 Rwanda               57.08623  2.938196 39.97557 12.30000 43.210217
143 Senegal              53.85775  3.086824 43.05543  8.20000 40.695826
148 Slovakia             68.92462 15.629247 15.44614 30.10000 17.562911
149 Slovenia             65.37135 19.606880 15.02178 22.50000 16.023980
151 South Africa         65.60251  5.318005 29.07949 20.30000 25.102205
153 Spain                65.95449 19.378508 14.66700 29.30000  9.697928
154 Sri Lanka            65.32978 10.473220 24.19700 13.00000 11.099617
157 Sweden               62.32269 20.095525 17.58179 18.80000  6.184665
158 Switzerland          66.46583 18.623217 14.91095 25.70000 10.303100
161 Thailand             71.01212 11.900893 17.08699 19.90000 26.256727
162 Timor-Leste          57.90284  4.316492 37.78066 42.60000 19.257209
163 Togo                 55.79601  2.869468 41.33452  7.40000 35.731336
165 Tunisia              67.51420  8.315679 24.17012 32.70000 37.655994
167 Uganda               51.12849  1.940987 46.93053 10.00000 50.494321
169 United Arab Emirates 84.31149  1.085001 14.60351 28.90000 40.917510
170 United Kingdom       63.92605 18.395866 17.67808 22.30000 10.472690
171 United States        65.48331 15.807654 18.70904 21.80000  7.409442
175 Vietnam              69.55234  7.274978 23.17268 22.80000 29.626728
177 Western Sahara       54.47388  2.987706 42.53841 10.17691 44.602096
    doctor    nurse_midwivies confirmed death rate
9   3.5213    12.4667           6694       80 0.011951001
10  5.0701     8.1758          15148      536 0.035384209
13  0.9257     2.4944           2588        8 0.003091190
14  0.4709     0.2665           4998      140 0.028011204
17  3.0138    10.8193          45325     6917 0.152608935
25  1.7701     6.6012            138        1 0.007246377
29  0.7694     1.2272             90        1 0.011111111
32  2.5388     9.8398          45491     2547 0.055989097
36  1.7855     2.3073          83909     4636 0.055250331
37  1.9379     1.1400           5142      233 0.045313108
46  3.6743    17.2138           8643      418 0.048362837
50  2.0734     2.4882          22719      576 0.025353229
51  0.8100     1.5000           4319      307 0.071081269
55  3.4152     6.3522           1635       46 0.028134557
58  0.8374     2.9380             18        0 0.000000000
60  3.2237    10.9403         161644    22648 0.140110366
62  0.1077     1.6292             10        1 0.100000000
63  5.0976     4.0914            456        5 0.010964912
64  4.1383    12.9241         156513     5877 0.037549597
74  3.1159     6.6811           2443      262 0.107245190
75  3.7826    16.3144           1790       10 0.005586592
77  0.2740     1.3001           8607      720 0.083652841
78  1.1400     1.8700          89328     5650 0.063250045
80  2.7819    13.8727          18561     1063 0.057270621
81  3.1906     5.0715          15298      199 0.013008236
82  3.9174     5.8184         195351    26384 0.135059457
83  0.4175     1.4583            305        7 0.022950820
90  2.5789     6.9694           2892       19 0.006569848
93  3.1736     4.8482            804       12 0.014925373
94  2.3478     2.4438            704       24 0.034090909
... ...       ...             ...       ...   ...
107 2.0246000  3.383100          331        9 0.027190332
108 2.2513000  2.668600        13842     1305 0.094278283
109 3.2002000  4.511300         3304       94 0.028450363
112 2.3337000  5.717900          320        6 0.018750000
118 3.4875000 10.467500        37384     4424 0.118339397
119 3.0003000 10.791900         1470       18 0.012244898
124 4.3940000 17.862200         7499      201 0.026803574
125 2.1225000  4.602800         1905       10 0.005249344
126 0.9753000  0.500400        12723      269 0.021142812
132 2.3112000  5.745300        11273      524 0.046482746
136 3.9632000  8.656700        74588      681 0.009130155
137 0.1408000  0.830700          183        0 0.000000000
143 0.2018000  0.775500          614        7 0.011400651
148 3.4414000  6.005200         1373       17 0.012381646
149 2.8099000  8.809000         1388       81 0.058357349
151 0.7827000  5.039100         4361       86 0.019720248
153 3.8493000  5.291900       223759    22902 0.102351190
154 0.9746000  2.487000          460        7 0.015217391
157 4.2861000 11.850300        18177     2192 0.120591957
158 4.1782000 16.815200        28894     1599 0.055340209
161 0.4655000  2.370200         2907       51 0.017543860
162 0.6696000  1.428700           24        0 0.000000000
163 0.0487000  0.298000           96        6 0.062500000
165 1.2999000  2.647800          939       38 0.040468584
167 0.0908000  0.630300           75        0 0.000000000
169 2.2373000  5.041900         9813       71 0.007235300
170 2.7780000  8.827100       149569    20381 0.136264868
171 2.5858000  8.550000       938154    53755 0.057298695
175 0.7887000  1.409200          270        0 0.000000000
177 0.2196454  1.028596            6        0 0.000000000

## 6. Research questions

## 7. Data Analysis & Visualizations

In [36]:
fit <- lm(rate ~ ., drop_na(data)[c(-1, -2, -4, -9, -10)])
fit %>%
    broom::tidy()

  term            estimate      std.error    statistic  p.value
1 (Intercept)      0.0126676901 0.0188622789  0.6715885 0.5044233299
2 age_64up         0.0050672295 0.0012844502  3.9450571 0.0002116083
3 smok            -0.0003567535 0.0005786309 -0.6165476 0.5398655547
4 air_polution     0.0002083572 0.0003442810  0.6051951 0.5473316181
5 doctor          -0.0104240619 0.0062209343 -1.6756425 0.0990125499
6 nurse_midwivies -0.0004123217 0.0016039963 -0.2570590 0.7980127033

In [38]:
anova(fit)

                Df Sum Sq       Mean Sq      F value     Pr(>F)
age_64up         1 1.867756e-02 1.867756e-02 13.76629064 0.0004548139
smok             1 8.338623e-04 8.338623e-04  0.61459808 0.4361458261
air_polution     1 1.119795e-03 1.119795e-03  0.82534441 0.3672569408
doctor           1 5.703673e-03 5.703673e-03  4.20389168 0.0447077574
nurse_midwivies  1 8.965383e-05 8.965383e-05  0.06607934 0.7980127033
Residuals       60 8.140562e-02 1.356760e-03          NA           NA

In [40]:
fit_base <- lm(rate ~ age_64up, drop_na(data))
fit_base %>%
    broom::tidy()

  term        estimate    std.error    statistic p.value
1 (Intercept) 0.012071280 0.0091360741 1.321277  0.1911135184
2 age_64up    0.002543938 0.0006947418 3.661702  0.0005096342

In [41]:
fit_1 <- lm(rate ~ age_64up + doctor, drop_na(data))
fit_1 %>%
    broom::tidy()

  term        estimate     std.error   statistic p.value
1 (Intercept)  0.015853042 0.009008437  1.759799 0.0832963278
2 age_64up     0.004597708 0.001127520  4.077717 0.0001299839
3 doctor      -0.011971537 0.005272208 -2.270687 0.0265942204

In [43]:
anova(fit_1, fit_base)

  Res.Df RSS        Df Sum of Sq    F        Pr(>F)
1 63     0.08240819 NA           NA       NA         NA
2 64     0.08915260 -1 -0.006744418 5.156021 0.02659422

## 8. Summary and conclusions